**/__pycache__
src/alpuma_tests/top/a/images/paulito.png
src/alpuma_tests/top/a/images/Schirm_a.jpg
src/alpuma_tests/top/a/images/Schirm_b.jpg
src/alpuma_tests/top/a/images/test.gif
src/alpuma_tests/top/a/images/test2.png
src/alpuma_tests/top/a/index.zulu_content.html
src/alpuma_tests/top/a/thumbs/paulito.png
src/alpuma_tests/top/a/thumbs/Schirm_a.jpg
src/alpuma_tests/top/a/thumbs/Schirm_b.jpg
src/alpuma_tests/top/a/thumbs/test.gif
src/alpuma_tests/top/a/thumbs/test2.png
src/alpuma_tests/top/sub/b/images/0208.jpg
src/alpuma_tests/top/sub/b/index.zulu_content.html
src/alpuma_tests/top/sub/b/thumbs/0208.jpg
src/pyimages2pdf/samplefolder/belege.pdf
