#set page(margin: 1.5cm)

= RECHNUNG

*Datum:* {{ data.datum|typ }} {{ data.zeit|typ }}



*Adresse:*
{{ data.address1|typ }}
{{ data.address2|typ }}
{{ data.zipcode|typ }} {{ data.city|typ }}



*Telefon:* {{ data.phone|typ }}
*Email:* {{ data.email|typ }}



*Bemerkungen:*
{{ data.comments|typ }}



*Zahlung:* {{ data.za|typ }}

== Positionen

#table(
	columns: (auto, auto, auto, 1fr, auto),
	align: (left, left, left, left, right),
	stroke: 0.4pt,
	inset: 6pt,
	table.header(
		[Anzahl],
		[Einheit],
		[Wo],
		[Text],
		[Preis]
	),
{% for position in data.positionen %}
	[{{ position.anzahl|typ }}],
	[{{ position.unit|typ }}],
	[{{ position.wo|typ }}],
	[{{ position.text|typ }}],
	[CHF {{ position.preis|typ }}],
{% endfor %}
)



*Gewicht:* {{ data.gewichttotal|typ }}



*Versandkosten Schweiz:* CHF {{ data.versandkosten|typ }}



*Total CHF:* {{ data.calculated_fTotalCHF|typ }}
*Total g:* {{ data.g|typ }}
