#set page(paper: "a4", margin: (top: 1.5cm, bottom: 2cm, left: 2cm, right: 1.5cm))
#set text(size: 10pt)

#align(right)[
  #text(size: 9pt)[
    www.klangspiel.ch \
    Switzerland \
    Tel: +41 55 508 22 72

    Peter Märki

    Zelglistrasse 49 \
    peter\@klangspiel.ch

    8634 Hombrechtikon \
    CHE-108.547.136
  ]
]

#v(0.5cm)

{{ data|invoice_address }}

#v(1cm)

Hombrechtikon {{ data.datum|typ }}

#v(0.5cm)

*Rechnung* \
{{ data.lieferadresseinfo|typ }}

#v(0.3cm)

#table(
  columns: (1fr, auto, auto),
  align: (left, right, right),
  // stroke: 0.4pt,
  stroke: none,
  inset: 4pt,
  table.header(
    [*Produkt*],
    [*Anzahl à*],
    [*Total CHF*],
  ),
  {% for position in data.positionen %}
  [{{ position.text|typ }}],
  [{{ position.anzahl|typ }} #h(2em) {{ position.preis|typ }}],
  [{{ position|line_total }}],
  {% endfor %}
  [Versandkosten (Lieferung Schweiz)],
  [],
  [{{ data.versandkosten|typ }}],
  table.cell(colspan: 2, align: right)[*Rechnungsbetrag*],
  [*{{ data.calculated_fTotalCHF|typ }}*],

  table.cell(colspan: 2, align: right)[Davon sind MWST 8.1 % (CHE-108.547.136-MWST)],
  [{{ data.ftotalmwst|typ }}],
)

#v(1fr)

{% if data.za == "Ja" %}
_Ich habe Ihre Zahlung erhalten, vielen Dank._

{% endif %}
Zahlbar innerhalb 30 Tagen netto mit beigelegtem Einzahlungsschein oder auf Konto Raiffeisenbank Männedorf IBAN CH69 8080 8003 1598 6252 0, IID 80808, SWIFT: RAIFCH22, Begünstigter: Peter Märki, Zelglistrasse 49, 8634 Hombrechtikon. Bei Bankzahlung: Bitte Ref Nr. angeben. Nach Möglichkeit mit Giro, damit keine Spesen anfallen.

Ab der zweiten Mahnung sind Mahnspesen fällig: 50.-.

#page(margin: (left: 2cm, top: 5cm, right: 2cm, bottom: 2cm))[
  #text(size: 12pt)[
    {{ data|delivery_address }}
  ]
]
