#set page(paper: "a4", margin: (top: 1.5cm, bottom: 2cm, left: 2cm, right: 1.5cm))
#set text(size: 10pt, font: "Liberation Sans")

#align(left)[
  #text(size: 9pt)[
    www.klangspiel.ch

    Peter Märki \
    Zelglistrasse 49 \
    8634 Hombrechtikon \
    CHE-108.547.136

    peter\@klangspiel.ch
  ]
]

#v(0.5cm)

#pad(left: 10cm)[
#text(size: 12pt, weight: "bold")[
{{ data.get_rechnungsadresse.company1|typ }} \
{{ data.get_rechnungsadresse.company2|typ }} \
{{ data.get_rechnungsadresse.firstname|typ }} {{ data.get_rechnungsadresse.lastname|typ }} \
{{ data.get_rechnungsadresse.address1|typ }} \
{{ data.get_rechnungsadresse.address2|typ }} \
{{ data.get_rechnungsadresse.zipcode|typ }} {{ data.get_rechnungsadresse.city|typ }}
]
]


#v(1cm)

Hombrechtikon {{ data.datum|typ }}

#v(0.5cm)

*Rechnung {{ data.rechnung_nr_text|typ }}* \
{{ data.lieferadresseinfo|typ }}

#v(0.3cm)

#table(
  columns: (1fr, auto, auto, auto),
  align: (left, right, right, left),
  // stroke: 0.4pt,
  stroke: none,
  inset: 4pt,
  table.header(
    [*Produkt*],
    [*Anzahl à*],
    [*Total CHF*],
    [], // Wo
  ),
  {% for position in data.positionen %}
  [{{ position.text|typ }}],
  [{{ position.anzahl|typ }} #h(2em) {{ position.calculated_total|typ }}],
  [{{ position.preis|typ }}],
  text(size: 7pt)[{{ position.wo|typ }}],
  {% endfor %}

  [Versandkosten (Lieferung Schweiz)],
  [],
  [{{ data.versandkosten|typ }}],
  [], // Wo

  table.cell(colspan: 2, align: right)[*Rechnungsbetrag*],
  [*{{ data.calculated_fTotalCHF|typ }}*],
  [], // Wo

  table.cell(colspan: 2, align: right)[Davon sind MWST 8.1 % (CHE-108.547.136-MWST)],
  [{{ data.ftotalmwst|typ }}],
  [], // Wo
)

{% if data.erhalten %}
#v(1cm)
_Ich habe Ihre Zahlung erhalten, vielen Dank._
{% endif %}

#v(1fr)

Zahlbar innerhalb 30 Tagen netto mit beigelegtem Einzahlungsschein oder auf Konto Raiffeisenbank Männedorf IBAN CH69 8080 8003 1598 6252 0, IID 80808, SWIFT: RAIFCH22, Begünstigter: Peter Märki, Zelglistrasse 49, 8634 Hombrechtikon. Bei Bankzahlung: Bitte Ref Nr. angeben. Nach Möglichkeit mit Giro, damit keine Spesen anfallen.

Ab der zweiten Mahnung sind Mahnspesen fällig: 50.-.

#page(paper: "a6", flipped: true, margin: (left: 0cm, top: 0.0cm, right: 0.0cm, bottom: 0.0cm))[

	#place(top + left, dx: -1.8cm, dy: 0cm)[
    #image("{{ filename_sonne_png }}", width: 40%)
	]

	#place(bottom + left, dx: 1cm, dy: -1cm)[
		#image("{{ filename_datamatrix_png }}")
	]

	#place(bottom + left, dx: 0.5cm, dy: -5.5cm)[
		#rotate(-90deg)[
			#text(size: 9pt)[
				Absender: \
				www.klangspiel.ch \
				Peter Märki \
				Zelglistrasse 49 \
				CH-8634 Hombrechtikon
			]
		]
	]

	
	#place(bottom + left, dx: 5cm, dy: -3cm)[
		#text(size: 16pt, weight: "bold")[
			{{ data.company1|typ }} \
      {{ data.company2|typ }} \
			{{ data.firstname|typ }} {{ data.lastname|typ }} \
			{{ data.address1|typ }}	\
      {{ data.address2|typ }} \
			{{ data.zipcode|typ }} {{ data.city|typ }}
		]  
	]
]
